*{
    margin: 0;
    
}


body {
    background: url('../images/phone.jpg');
    color: #fff;
    background-size: cover;
    background-attachment: fixed;
    font-family: cursive;
}

[class*="__container"] {
    max-width: 1170px;
    margin: 0 auto;
}


.logo__photo{
    width: 100%;
    height: 510px;
    border-radius: 5%;
}



.header__navigation{
    position: relative;
    top: 50px;
    float: right;
    font-size: 17px;
    text-transform: uppercase;
}

.nav__link {  
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    transition: color .2s linear;
}

.nav__link:hover {
    color: purple;
}

hr{        
    clear:both;
    margin: 20px 0 20px 0;
}


h2{
    margin-bottom: 20px;
    text-align: center;
}

.introduction__text {
    width:60%;
    height: 600px;  
    float:left; }

.introduction__photo { 
    width:40%; 
    height:560px; 
    float:left 
}

.photo1{
    margin:  10px 15px 10px 15px;
    float: left;
}

.photo2{
    margin:  10px 15px 10px 15px;
    float: right; 
}

.photo3{
    float: left;
    margin-top: 15px ;
}

.photo3{
    float: left;
    margin-top:  5px ;
}

.photo4{
    position: relative;
    left: 20px;   
}
.photo5{
position: relative;
   bottom: 40px;
   left: 120px;
   
}
.photo6{
    position: relative;
    bottom: 80px;
    left: 220px;
}

.formSignUp__border{
    margin: 0 auto;
    border-radius: 40%;
    border: 2px solid purple; 
    width: 70%;
    height: 600px;     
}


.formSignUp__area__left{
    width: 50%;
    float: left;
}

.formSignUp__area__right{   
    margin-top: 147px;
    width: 50%;
    float: right; 
}


.photo_login{  
    margin-top: 20px;
    border-radius: 50%;
    width: 100px;   
}

.form{
    text-align: center;
}

.input__age{
    width:170px;
    height:30px
}
.input__date{   
    height:30px
}

.input__all{
    width:200px;
    height:30px 
}
    
.button__1{   
    margin-right: 30px;
    float: right;
    padding: 15px 60px;
    background-color: red;
}

.button__2{  
    margin-left: 30px;
    float: left;
    padding: 15px 32px;
    background-color: green;
}

.button__1,.button__2
 {   
    color: white;
    text-align: center;
    font-size: 16px;   
}


.formLogIn__border{
    margin: 0 auto;
    border-radius: 40%;
    border: 2px solid purple; 
    width: 40%;
    height: 200px;    
}

.formLogIn__area{
    margin-top: 20px;
    text-align: center;
}


.button__3,.button__4{  
    font-size: 16px;
    color: #fff;
    padding: 15px 32px;
    background-color: green;
}


.formFeedBack__border{
    margin: 0 auto;
    border-radius: 40%;
    border: 2px solid purple; 
    width: 70%;
    height: 400px;     
}


.formFeedBack__area__left{
    margin-top: 100px;
    width: 40%;
    float: left;
}

.formFeedBack__area__right{
    margin-top: 80px;
    width: 60%;
    float: right; 
}


.footer__area{
    width: 100%;
    height:270px;
    background-color: rgb(40, 2, 44);
    margin-top: 50px;
}

.footer__social_networks{
    padding: 20px 10px 20px 10px;
    margin-top: 50px;
    float: left;
    width: 30%;
    height: 150px;   
}

.footer__else{
    text-align: right;
    padding: 100px 10px 20px 10px;
    float: right;
    width: 50%;
    height: 100px;  
}

.footer__social_networks i {
    padding: 10px;
  }

  .footer__social_networks a:nth-child(2) {
    color: #db100c;
  }

  .footer__social_networks a:nth-child(3) {
    color: #db11e5;                                    
  }

  .footer__social_networks a:nth-child(4) {
    color: #3eb9e6;
  }
  
  .footer__social_networks a:nth-child(5) {
    color: #42599d;
  }

.footer__link{
    color: white;
    text-decoration: none;
}


 